{% extends 'layout.html' %}
{% block body %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
          <div class="alert alert-info" >
         {{ message }}
          </div>
      {% endfor %}
   {% endif %}
{% endwith %}
{% for a in dateList %}
    {% if a.get_torf() == "False" %}
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Redemption:</h5>
      <p class="card-text">For card: {{ a.get_card() }} </p>
    <p class="card-text">You have {{ a.get_point() }} which is expiring on {{ a.get_exp_date()}} </p>
    <a href="#" class="btn btn-primary">Redeemed Now!</a>
  </div>
</div>
    {% endif %}
{% endfor %}
{% endblock %}
